@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: montserrat, sans-serif;
    box-sizing: border-box;
}
body {
   
    background-color: rgb(29, 29, 43);
}
.concontainer{
    justify-content: center;
    align-items: center;
    height: 90vh;
    position: relative;
    overflow-y: auto;
    margin-left: 3rem;
}
.container {
    max-width: 600px;
    margin: 0 40px;
    padding: 20px;
    margin-left: 6rem ;
    position: relative;
  
}
.message {
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    color: white;
    background-color: rgb(29, 29, 43);
}

.chat-form {
    margin-top: 20px;
}
.chat-form input[type="text"] {
    width: calc(100% - 70px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}
#input{
background-color: rgb(20, 29, 43);
border-radius: 5px;
color: white;
margin-left: 10px;
width: 400px;
border: 1px solid  rgb(20, 29, 43);;
}
#submitt{
    border-radius: 5px;
    margin-left: 10px;
}
.chat-form button {
    width: 70px;
    padding: 10px;
    background-color: #007bff;
    border: none;

    border-radius: 0 5px 5px 0;
    color: #fff;
    cursor: pointer;
}
img{
    margin-left: 1.2rem;
}
.name{
    margin-top: 2rem;
    margin-left: 1.1rem;
}
.UI{
    border: solid 5px  rgb(38, 38, 51);

    border-radius: 5px;
    height: 100vh;
    position:absolute;
    width: 9rem;
background-color: rgb(38, 38, 51);

}
.containerUI{
    justify-content: center;
    align-items: center;
    width: 6rem;
    position: fixed;
    
}
.chat-form{
    margin-left: 10rem;

position: absolute;
bottom: 0vh;
    z-index: 99;
}

.header-container{
    justify-content: center;
    align-items: center;
    height: 3rem;
   
  
    
}
.header-info{
    border: solid 3px rgb(26, 26, 34);
    height: 3rem;
  background-color: rgb(26, 26, 34);
 

}

.fixed {
    position: fixed;
   width: 100%;
    z-index: 12000;
}
.picture{
    border-radius: 10px;
}
.search{
    margin-top: 0.1rem;
    margin-left: 0.4rem;
    padding: 5px 10px;
    font-size: 16px;
    color: white;
    background-color: #596d81; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-decoration: none;
    display: inline-block;
  }
  
  .search:hover {
    background-color: #0056b3; 
    
  }